<a href="https://colab.research.google.com/github/gunelrafig/ML_Zoomcamp2023/blob/main/ML_Zoomcamp2023_Homework_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [77]:
import pandas as pd

# **Question 1**

In [78]:
pd.__version__

'1.5.3'

#**Getting the data**

In [79]:
df = pd.read_csv('data.csv', sep=',')

In [80]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

#**Question 2**
**How many columns are in the dataset?**

In [81]:
print("Number of columns in the dataset:", len(df.columns))

Number of columns in the dataset: 10

#**Question 3**
**Which columns in the dataset have missing values?**

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [83]:
print("Columns with missing values:", df.columns[df.isnull().sum() > 0].tolist())

Columns with missing values: ['total_bedrooms']

#**Question 4**
**How many unique values does the *ocean_proximity* column have?**

In [84]:
print("Number of unique values in 'ocean_proximity' column:", df['ocean_proximity'].nunique())

Number of unique values in 'ocean_proximity' column: 5

In [85]:
df['ocean_proximity'].value_counts()

<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
Name: ocean_proximity, dtype: int64

In [86]:
print("Unique values in 'ocean_proximity' column:", df['ocean_proximity'].unique().tolist())

Unique values in 'ocean_proximity' column: ['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND']

#**Question 5**
**What's the average value of the median_house_value for the houses located *near the bay*?**

In [87]:
print("Average median house value for houses near the bay:", round(df[df['ocean_proximity'] == 'NEAR BAY']['median_house_value'].mean()))

Average median house value for houses near the bay: 259212

#**Question 6**
**Has the mean value changed after filling missing values?**

In [88]:
print("First average mean value for total_bedrooms:", round(df['total_bedrooms'].mean()))

First average mean value for total_bedrooms: 538

In [89]:
df['total_bedrooms']=df['total_bedrooms'].fillna(df['total_bedrooms'].mean())

In [90]:
print("Last average mean value for total_bedrooms:", round(df['total_bedrooms'].mean()))

Last average mean value for total_bedrooms: 538

#**Question 7**
**Value of the last element of w:**

In [91]:
import numpy as np

In [92]:
filtered_data = df[df['ocean_proximity'] == 'ISLAND'][['housing_median_age', 'total_rooms', 'total_bedrooms']]

# Get the underlying NumPy array
X = filtered_data.to_numpy()

# Compute XTX
XTX = np.dot(X.T, X)

# Compute the inverse of XTX
XTX_inverse = np.linalg.inv(XTX)

# Create an array 'y'
y = np.array([950, 1300, 800, 1000, 1300])

# Calculate 'w'
w = np.dot(np.dot(XTX_inverse, X.T), y)

# Find the value of the last element of 'w'
last_element_of_w = round(w[-1],4)

print("The value of the last element of 'w' is:", last_element_of_w)

The value of the last element of 'w' is: 5.6992